/*
border = creas un borde que ocupa espacio
*/

body {
	background-color: #222;
}

div {
	width: 100px;
	height: 100px;
	background: #fff;
	color: #222;
	margin: 50px;
	font-size: 20px;
}

/*
solid = es un borde normal
*/
.solid {
  border: red 5px solid;
}

/*
none = sin borde
*/
.none {
  border: red 5px none;
}

/*
hidden = borde oculto
*/
.hidden {
  border: red 5px hidden;
}

/*
dotted = borde punteado
*/
.dotted {
  border: red 5px dotted;
}

/*
dashed = lineas cortadas
*/
.dashed {
  border: red 5px dashed;
}

/*
double = borde con otro borde por el exterior
*/
.double {
  border: red 5px double;
}

/*
groove = undido
*/
.groove {
  border: red 5px groove;
}

/*
ridge = sobresalido
*/
.ridge {
  border: red 5px ridge;
}

/*
inset = izquierda y arriba sobresalido
*/
.inset {
  border: red 5px inset;
}

/*
outset = derecha y abajo sobresalido
*/
.outset {
  border: red 5px outset;
}
 /*
el outline funciona como un borde pero no ocupa espacio, es como un resaltado
*/