@use "mixinfunc";

.hero {
    &__container {
        height: calc(100vh - 70px);
        background-image: linear-gradient(#00006d, #000075);
        @include mixinfunc.crearFlex(center);
    }

    &__text {
        color: #fff;
    }

    &__title {
        font-size: mixinfunc.pixeles-rem(50);
    }
}