/*los maps son como objetos*/
$pallette: (
    "MyRed": #f00,
    "MyGreen": #0f0,
    "MyBlue": #00f
);

.mapas__txt {
    color: map-get($map: $pallette, $key: "MyRed");
    background-color: map-get($map: $pallette, $key: "MyBlue");
}
