@use "variables";

$display: "display";
$primary: #f00;

/*aca por ejemplo se utiliza el interpolado*/
:root {
    --primary: #{$primary};
}

/*Anidamiento*/
.nav {
    width: 100%;
    background-color: variables.$colorSecundario;
    &__container {
        background-color: #1ff;
        height: 70px;
        #{$display}: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 1em;
    }

    &__item {
        color: #fff;
        text-decoration: underline;

        &:hover {
            color: #000;
        }
    }

    @media (min-width: 764px) {
        &__container {
            justify-content: flex-end;
        }
    }
}
