
/*
position
static = no esta posicionado
relative = conserva su espacio 
absolute = no conserva su espacio, esta encima de todo
como un stiker pegado encima de una hoja
fixed = no ocupa un espacio y se queda pegado 
a la pantalla al hacer scroll
sticky = es como fixed pero se queda pegado a partir de un momento
*/

.sticky, .relative, .absolute, .fixed, .static{
	width: 120px;
	height: 120px;
	display: block;
}

.sticky{
	background-color: orange;
	position: sticky;
	top: 0;
}

.relative{
	background-color: green;
	position: relative;
	top: 50px;
	left: 50px;
}

.absolute{
	background-color: lightblue;
	position: absolute;
	left: 50px;
	opacity: .3;
}

.fixed{
	background-color: yellow;
	position: fixed;
	top: 0;
}

.static{
	background-color: purple;
}

.lorem{
	background-color: black;
	color: white;
	border: solid 5px #500;
}