* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.txt {
	width: 100px;
	height: 20px;
	background-color: #090;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin: 10px;
}
