/* 
box sizing ------------
box model--------------

normalize.css-------------
*/




/*
box-sizing 
border-box = evita que la caja se deforme con el contenido
content-box = defecto
-----------------------------------------------------------------
a 100px de width se le suman los 100 de padding
y a los 100 de height se le suman 20 de padding
por lo que ya no es de 100 x 100
para eso esta border-box,evita la deformacion
*/

.border-box{
	background-color: #500;
	display: inline-block;
	padding: 10px 50px;
	height: 100px;
	width: 100px;
	box-sizing: border-box;
}



/*
text-align = alinea el contenido que es texto
*/

.text-align{
	text-align: center;
}







/*
para moverlas podes usar 
top = arriba
left = izquierda
right = derecha
bottom = abajo
y para centrar 
top: 0;
left: 0;
bottom: 0;
right: 0;
margin: auto;
*/










