/*
overflow = que hacemos con lo que sobra
visible = lo que sobra sobresale
auto = se ajusta al contenedor y se agrega un scroll si es necesario
scroll = es como auto pero la barra de scroll la tiene por mas que no sea necesario
hidden = oculta la sobra sin scroll
*/

.overflow, .overflow__2, .overflow__3{
	background-color: grey;
	color: black;
	border: solid 5px red;
	width: 500px;
	height: 500px;
}

.overflow{
	overflow: visible;
}

.overflow__2{
	overflow: auto;
}

.overflow__3{
	overflow: scroll;
}

