<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
</head>

<body>
    <% if (data) { %>
        <% for (let i = 0; i < data.length; i++) { %>
            <article>
                <h2><%= data[i].title %></h2> 
                <p><%= data[i].body %></p> 
            </article>
        <% } %>
    <% } else { %>
        <%- include("../partials/about") %>
    <% } %>
</body>

</html>