
/*
transform = modifica o transforma un objeto
translatex() = lo mueve en el eje x
translatey() = lo mueve en el eje y
translate() = x + y
rotate() = rotar
scale() =  cuantas veces lo agranda o lo achica
skew() = deformarlo por grados

*/

.transform {
	background-color: #289;
	height: 300px;
	padding: 20px 20px;
}

.caja4 {
	background-color: #937;
	height: 80px;
	width: 80px;
	margin: 20px;
	display: flex;
	transition: all 1s;
}

.transform:hover > .caja4 {
	transform: translate(50px, 90px) scale(2) skew(30deg);
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	/*
	scale(2)el doble de lo que media
	*/
}

.transform:hover > .recto {
	transform: skew(-30deg);
}

