/*
@media only screen = se usa para el responsive designe



usar el meta viewport
<meta name="viewport" content="width=device-width, initial-scale=1.0">
*/

.responsive, .responsive__2{
	width: 45%;
	display: inline-block;
}

@media only screen and (max-width: 800px){
	.responsive, .responsive__2{
		display: block;
		width: 100%;
	}
	h1{
		font-size: 20px;
		color: blue;
	}
}