* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.txt2 {
	width: 80px;
	height: 400px;
	background-color: #fff;
	border: 2px solid #000;
	text-decoration-line: underline;
	text-decoration-color: #009099;
	margin: 10px;
}

